.cid-u1kYngOSfE {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
  }
  .cid-u1kYngOSfE .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u1kYngOSfE .item-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .cid-u1kYngOSfE .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .cid-u1kYngOSfE .mbr-iconfont {
    display: inline-flex;
    font-size: 2rem;
    color: var(--primary-color, #d70081);
    width: 80px;
    justify-content: center;
    align-items: center;
    background: #ffd7ef;
    height: 80px;
    border-radius: 50%;
  }
  .cid-u1kYngOSfE .card-title,
  .cid-u1kYngOSfE .iconfont-wrapper{
    color: var(--primary-color, #d70081);
    text-align: center;
  }
  .cid-u1kYngOSfE .card-text {
    color: #000000;
    text-align: center;
  }
  .cid-u1kYngOSfE .content-head {
    max-width: 800px;
  }
  .cid-u1kYngOSfE .mbr-section-title {
    color: #000000;
  }


  .cid-u1kYngOVTj {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: transparent;
  }
  .cid-u1kYngOVTj .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u1kYngOVTj .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .cid-u1kYngOVTj .mbr-text {
    color: #000000;
  }
  .cid-u1kYngOVTj .mbr-section-subtitle {
    color: #ffffff;
    text-align: left;
  }
  .cid-u1kYngOVTj .item-wrapper {
    background: #ffffff;
    margin-bottom: 0rem;
    padding: 2.25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 767px) {
    .cid-u1kYngOVTj .item-wrapper {
      padding: 2rem 1.5rem;
      margin-bottom: 0rem;
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u1kYngOVTj .item-wrapper {
      padding: 2rem 1.5rem;
      margin-bottom: 0rem;
    }
  }
  .cid-u1kYngOVTj .item-mb {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u1kYngOVTj .item-mb {
      margin-bottom: 1rem;
    }
  }
  .cid-u1kYngOVTj .mbr-number {
    color: #9fe870;
    text-align: left;
  }
  .cid-u1kYngOVTj .mbr-section-title {
    color: #000000;
  }
  .cid-u1kYngOVTj .card-text,
  .cid-u1kYngOVTj .item .mbr-section-btn {
    text-align: left;
  }
  .cid-u1kYngOVTj .card-title,
  .cid-u1kYngOVTj .iconfont-wrapper {
    text-align: left;
  }
  .cid-u1kYngOVTj .mbr-section-subtitle,
  .cid-u1kYngOVTj .main-button {
    text-align: left;
    color: #000000;
  }
  .cid-u1kYngOVTj .item-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .cid-u1kYngOVTj .item-content .item-footer {
    margin-top: auto;
  }
  .cid-u1kYngOVTj .main-button {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u1kYngOVTj .main-button {
      margin-bottom: 2rem;
    }
  }
  .cid-u1kYngOVTj .side-features {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
  }
  .cid-u1kYngOVTj .side-features .item {
    padding-left: 16px;
    padding-right: 16px;
  }


  .cid-u1kYngPOgu {
    padding-top: 5rem;
    padding-bottom: 4rem;
    background-color: transparent;
  }

  .cid-u1kYngPOgu .item-mb {
    margin-bottom: 2rem;
  }

  @media (max-width: 767px) {
    .cid-u1kYngPOgu .item-mb {
      margin-bottom: 1rem;
    }
  }

  .cid-u1kYngPOgu .item-head {
    background: var(--primary-color, #9fe870);
    padding: 2.25rem;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u1kYngPOgu .item-head {
      padding: 2rem 1.5rem;
      margin-bottom: 2rem;
    }
  }

  @media (max-width: 767px) {
    .cid-u1kYngPOgu .item-head {
      padding: 2rem 1.5rem;
      margin-bottom: 2rem;
    }
  }

  .cid-u1kYngPOgu .item-content {
    padding: 2.25rem 2.25rem 0;
    background: #ffffff;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u1kYngPOgu .item-content {
      padding: 0rem 1.5rem;
    }
  }

  @media (max-width: 767px) {
    .cid-u1kYngPOgu .item-content {
      padding: 0rem 1.5rem;
    }
  }

  .cid-u1kYngPOgu .item-wrapper {
    border-radius: 2rem;
    overflow: hidden;
    margin-bottom: 2rem;
    background: #ffffff;
    padding: 0rem;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  @media (max-width: 767px) {
    .cid-u1kYngPOgu .item-wrapper {
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u1kYngPOgu .item-wrapper .item-footer {
      padding: 0 1.5rem 2rem;
    }
  }

  @media (min-width: 1201px) {
    .cid-u1kYngPOgu .item-wrapper .item-footer {
      padding: 0 2rem 2rem;
    }
  }

  .cid-u1kYngPOgu .btn {
    width: -webkit-fill-available;
  }

  .cid-u1kYngPOgu .item:focus,
  .cid-u1kYngPOgu span:focus {
    outline: none;
  }

  .cid-u1kYngPOgu .mbr-section-btn {
    margin-top: auto !important;
    padding: 2rem 2rem 0;
  }

  @media (max-width: 991px) {
    .cid-u1kYngPOgu .mbr-section-btn {
      padding: 0rem 2.25rem 2rem;
    }
  }

  @media (max-width: 767px) {
    .cid-u1kYngPOgu .mbr-section-btn {
      padding: 0rem 1.5rem;
      margin-bottom: 2rem;
    }
  }

  .cid-u1kYngPOgu .mbr-section-title {
    color: #000000;
  }

  .cid-u1kYngPOgu .mbr-section-subtitle {
    color: #ffffff;
  }

  .cid-u1kYngPOgu .mbr-text,
  .cid-u1kYngPOgu .mbr-section-btn {
    text-align: left;
  }

  .cid-u1kYngPOgu .item-title {
    text-align: left;
    color: var(--primary-text, #ffffff);
  }

  .cid-u1kYngPOgu .item-subtitle {
    text-align: left;
    color: var(--primary-text, #ffffff);
  }

  .cid-u1kYngPOgu .content-head {
    max-width: 800px;
  }


  .cid-u1kYngP2Ry {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: transparent;
  }
  .cid-u1kYngP2Ry .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u1kYngP2Ry .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .cid-u1kYngP2Ry .item {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-u1kYngP2Ry .item {
      margin-bottom: 1rem;
    }
  }
  .cid-u1kYngP2Ry .item-wrapper {
    height: 100%;
  }
  .cid-u1kYngP2Ry .item-wrapper img {
    height: 100%;
    object-fit: cover;
  }
  .cid-u1kYngP2Ry .content-head {
    max-width: 800px;
  }

  .cid-u1kYngPlHg {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
  }
  .cid-u1kYngPlHg .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u1kYngPlHg .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .cid-u1kYngPlHg .bg-facebook {
    background: #1778f2;
    color: #ffffff;
  }
  .cid-u1kYngPlHg .bg-facebook:hover {
    background: #0b60cb;
  }
  .cid-u1kYngPlHg .bg-twitter {
    background: #1da1f2;
    color: #ffffff;
  }
  .cid-u1kYngPlHg .bg-twitter:hover {
    background: #0c85d0;
  }
  .cid-u1kYngPlHg .bg-instagram {
    background: #f00075;
    color: #ffffff;
  }
  .cid-u1kYngPlHg .bg-instagram:hover {
    background: #bd005c;
  }
  .cid-u1kYngPlHg .bg-tiktok {
    background: #000000;
    color: #ffffff;
  }
  .cid-u1kYngPlHg .bg-tiktok:hover {
    background: #000000;
  }
  .cid-u1kYngPlHg .iconfont-wrapper {
    display: inline-block;
    font-size: 32px;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  .cid-u1kYngPlHg [class^="socicon-"]:before,
  .cid-u1kYngPlHg [class*=" socicon-"]:before {
    line-height: 55px;
    padding: .6rem;
  }


  .cid-u1kYngPJp4 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
  }
  .cid-u1kYngPJp4 .item-subtitle {
    line-height: 1.2;
    color: #000000;
  }
  .cid-u1kYngPJp4 img,
  .cid-u1kYngPJp4 .item-img {
    width: 100%;
  }
  .cid-u1kYngPJp4 .item:focus,
  .cid-u1kYngPJp4 span:focus {
    outline: none;
  }
  .cid-u1kYngPJp4 .item {
    margin-bottom: 2rem;
  }
  @media (max-width: 575px) {
    .cid-u1kYngPJp4 .item {
      margin-bottom: 1rem;
    }
  }
  .cid-u1kYngPJp4 .item-wrapper {
    position: relative;
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
  .cid-u1kYngPJp4 .mbr-section-title {
    color: #000000;
  }
  .cid-u1kYngPJp4 .mbr-text,
  .cid-u1kYngPJp4 .mbr-section-btn {
    color: #000000;
  }
  .cid-u1kYngPJp4 .item-title {
    color: #000000;
    text-align: center;
  }
  .cid-u1kYngPJp4 .content-head {
    max-width: 800px;
  }
  .cid-u1kYngPJp4 img {
    filter: grayscale(1);
  }


  .cid-u1kYngPrxX {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: transparent;
  }
  .cid-u1kYngPrxX .mbr-overlay {
    background-color: #ffffff;
    opacity: 0.4;
  }
  .cid-u1kYngPrxX form .mbr-section-btn {
    text-align: center;
    width: 100%;
  }
  .cid-u1kYngPrxX form .mbr-section-btn .btn {
    display: inline-flex;
  }
  @media (max-width: 991px) {
    .cid-u1kYngPrxX form .mbr-section-btn .btn {
      width: 100%;
    }
  }
  .cid-u1kYngPrxX .content-head {
    max-width: 800px;
  }



  .cid-u1kYngPK8N {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: transparent;
  }
  .cid-u1kYngPK8N .mbr-fallback-image.disabled {
    display: none;
  }
  .cid-u1kYngPK8N .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  @media (max-width: 992px) {
    .cid-u1kYngPK8N .row .map-wrapper {
      margin-top: 2rem;
    }
  }
  @media (max-width: 767px) {
    .cid-u1kYngPK8N .row .map-wrapper {
      margin-top: 1rem;
    }
  }
  .cid-u1kYngPK8N .google-map {
    height: 100%;
    position: relative;
  }
  .cid-u1kYngPK8N .google-map iframe {
    height: 100%;
    width: 100%;
  }
  @media (max-width: 992px) {
    .cid-u1kYngPK8N .google-map iframe {
      min-height: 350px;
    }
  }
  .cid-u1kYngPK8N .google-map [data-state-details] {
    color: #6b6763;
    height: 1.5em;
    margin-top: -0.75em;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }
  .cid-u1kYngPK8N .google-map[data-state] {
    background: #e9e5dc;
  }
  .cid-u1kYngPK8N .google-map[data-state="loading"] [data-state-details] {
    display: none;
  }
  .cid-u1kYngPK8N .card-wrapper {
    padding: 2.25rem;
    background: #ffffff;
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u1kYngPK8N .card-wrapper {
      padding: 1.5rem;
    }
  }
  @media (max-width: 767px) {
    .cid-u1kYngPK8N .card-wrapper {
      padding: 2rem 1.5rem;
    }
  }
  .cid-u1kYngPK8N ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .cid-u1kYngPK8N .content-head {
    max-width: 800px;
  }


  .cid-u1kYngQbzn {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #000000;
  }
  .cid-u1kYngQbzn .social-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .cid-u1kYngQbzn .social-row .soc-item {
    margin: 8px;
  }
  .cid-u1kYngQbzn .social-row .soc-item a:hover .mbr-iconfont,
  .cid-u1kYngQbzn .social-row .soc-item a:focus .mbr-iconfont {
    background-color: #ffffff;
  }
  .cid-u1kYngQbzn .social-row .soc-item a .mbr-iconfont {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 32px;
    background-color: #edefeb;
    color: #000000;
    transition: all 0.3s ease-in-out;
  }
  .cid-u1kYngQbzn .row-links {
    width: 100%;
    justify-content: center;
  }
  .cid-u1kYngQbzn .header-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
  }
  .cid-u1kYngQbzn .header-menu li {
    padding: 0 1rem 1rem 1rem;
  }
  .cid-u1kYngQbzn .header-menu li p {
    margin: 0;
  }
  .cid-u1kYngQbzn .copyright {
    margin-bottom: 0;
    color: #ffffff;
    text-align: center;
  }
  .cid-u1kYngQbzn .mbr-section-title {
    color: #ffffff;
  }