.cid-u1kYngOb5L {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
  }
  .cid-u1kYngOb5L .mbr-text {
    color: #000000;
  }
  .cid-u1kYngOb5L .mbr-section-subtitle {
    color: #000000;
  }