.cid-u1kYngNYhT {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
  }
  .cid-u1kYngNYhT .mbr-text {
    color: #000000;
  }
  .cid-u1kYngNYhT .mbr-section-subtitle {
    color: #000000;
  }
  .cid-u1kYngNYhT .mbr-section-title {
    color: #000000;
  }