.cid-u1kYngOOSP {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--dominant-color, #260a30);
  }

  .cid-u1kYngOOSP input {
    padding: 1.2rem 1.5rem;
    border: none !important;
    height: 100%;
  }

  .cid-u1kYngOOSP input:hover {
    border: none !important;
  }

  .cid-u1kYngOOSP .btn {
    height: 100%;
    margin: auto;
  }

  @media (min-width: 992px) {
    .cid-u1kYngOOSP .text-wrapper {
      padding: 0 2rem;
    }
  }

  .cid-u1kYngOOSP .row {
    justify-content: center;
  }

  .cid-u1kYngOOSP .mbr-section-btn {
    display: flex;
    margin-bottom: 1.2rem;
    width: fit-content;
  }

  @media (min-width: 768px) {
    .cid-u1kYngOOSP .mbr-section-btn {
      margin-left: initial;
    }
  }

  .cid-u1kYngOOSP .mbr-section-btn .btn {
    width: auto;
  }

  @media (max-width: 991px) {
    .cid-u1kYngOOSP .image-wrapper {
      margin-bottom: 2rem;
    }

    .cid-u1kYngOOSP .content-wrapper {
      flex-direction: column-reverse;
    }
  }

  .cid-u1kYngOOSP .justify-content-center {
    align-items: center;
  }

  .cid-u1kYngOOSP .mbr-section-title {
    text-align: center;
    color: var(--dominant-text, #ffd7ef);
  }