@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <!-- Site made with Mobirise AI Website Builder v0.01, https://ai.mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise AI v0.01, ai.mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/logo5.png" type="image/x-icon">
    <meta name="description" content="Explore a world of delicious pizza options, from classic margherita to sizzling pepperoni. Order now for a mouthwatering experience!">

    <title>Delicious Pizza Selection</title>
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/css/mobirise2.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/style1.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/StyleSheet1.css">
    <link rel="stylesheet" href="~/css/StyleSheet2.css">
    <link rel="stylesheet" href="/css/StyleSheet3.css">
    <link rel="stylesheet" href="~/css/StyleSheet4.css">
    <link rel="stylesheet" href="~/css/StyleSheet5.css">
    <link rel="stylesheet" href="~/css/StyleSheet6.css">
    <link rel="stylesheet" href="~/css/StyleSheet7.css">
    <link rel="stylesheet" href="~/css/StyleSheet8.css">
    <link rel="stylesheet" href="~/css/StyleSheet9.css">
    <link rel="stylesheet" href="~/css/StyleSheet10.css">
    <link rel="stylesheet" href="~/css/StyleSheet11.css">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap"></noscript>
    <link rel="preload" as="style" href="~/css/additional.css">
    <link rel="stylesheet" href="~/css/additional.css" type="text/css">



    <style>
        :root {
            --background: #F1EAE8;
            --dominant-color: #772F1A;
            --primary-color: #F58549;
            --secondary-color: #EEC170;
            --success-color: #32D98C;
            --danger-color: #DB3040;
            --warning-color: #FFC20C;
            --info-color: #18CEF3;
            --background-text: #000000;
            --dominant-text: #FFFFFF;
            --primary-text: #000000;
            --secondary-text: #000000;
            --success-text: #000000;
            --danger-text: #FFFFFF;
            --warning-text: #000000;
            --info-text: #000000;
        }</style>
</head>
<body>
 



    <section class="header18 cid-u1kYngNGNL mbr-fullscreen" data-bg-video="https://www.youtube.com/embed/T3AHBe0I0yc?si=Mrg7MLqFQXtOQQDf;1&amp;loop&#x3D;1&amp;playlist&#x3D;ywrLSeDVH5U&amp;t&#x3D;20&amp;mute&#x3D;1&amp;playsinline&#x3D;1&amp;controls&#x3D;0&amp;showinfo&#x3D;0&amp;autohide&#x3D;1&amp;allowfullscreen&#x3D;true&amp;mode&#x3D;transparent" id="hero-16-u1kYngNGNL">
        <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="content-wrap col-12 col-md-10">
                    <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
                        <strong>Pizza Mania</strong>
                    </h1>
                    <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Indulge in the Ultimate Pizza Experience - Fresh, Flavorful, and Irresistible!</p>
                    <div class="mbr-section-btn">
                        <a class="btn btn-white-outline display-7" href="#">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="article12 cid-u1kYngNYhT" id="about-me-12-u1kYngNYhT">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <h3 class="mbr-section-title mbr-fonts-style mb-4 mt-0 display-2">
                        <strong>Our Pizza Passion</strong>
                    </h3>
                    <p class="mbr-text mbr-fonts-style display-7">At PizzaRave, we&#x27;re obsessed with creating the perfect pizza experience for every customer. From the freshest ingredients to the most mouthwatering flavors, we take pizza to a whole new level.</p>
                    <p class="mbr-text mbr-fonts-style display-7">Whether you&#x27;re a veggie lover or a meat enthusiast, we&#x27;ve got the perfect pizza for you. Our passion for pizza knows no bounds, and we&#x27;re here to satisfy your cravings with every bite.</p>
                    <p class="mbr-text mbr-fonts-style display-7">Join us on a pizza adventure like no other, where every slice is a celebration of flavor and fun.</p>
                </div>
            </div>
        </div>
    </section>


    <section class="article13 cid-u1kYngN2f1" id="call-to-action-3-u1kYngN2f1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="card col-md-12 col-lg-10">
                    <div class="card-wrapper">
                        <div class="card-box align-left">
                            <h4 class="card-title mbr-fonts-style display-2">
                                <strong>Join the Pizza Revolution Today!</strong>
                            </h4>
                            <div class="mbr-section-btn mt-4">
                                <a class="btn btn-primary display-4" href="https://mobiri.se">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="article15 cid-u1kYngOb5L" id="generic-text-15-u1kYngOb5L">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md">
                    <h6 class="mbr-section-subtitle mbr-fonts-style mt-0 mb-4 display-5">
                        <strong>Discover the PizzaRave Difference</strong>
                    </h6>
                </div>
                <div class="col-md-12 col-lg-6">
                    <p class="mbr-text mbr-fonts-style display-7">At PizzaRave, we don&#x27;t just make pizza - we craft culinary masterpieces that will tantalize your taste buds and leave you craving for more.</p>
                    <p class="mbr-text mbr-fonts-style display-7">With our unique blend of premium ingredients and innovative recipes, every pizza is a work of art that promises to elevate your dining experience.</p>
                    <p class="mbr-text mbr-fonts-style display-7">Join our pizza family and experience a world of flavor, fun, and pure pizza joy.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="header2 cid-u1kYngOOSP" id="subscription-form-1-u1kYngOOSP">
        <div class="container">
            <div class="row content-wrapper justify-content-center">
                <div class="col-lg-8 mbr-form">
                    <div class="">
                        <h1 class="mbr-section-title mbr-fonts-style mb-5 display-1">
                            <strong>Stay Updated with PizzaRave!</strong>
                        </h1>
                    </div>
                    <div class="text-wrapper align-left" data-form-type="formoid">
                        <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                            <input type="hidden" name="email" data-form-email="true" value="">
                            <div class="row">
                                <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                                <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                    Oops...! some problem!
                                </div>
                            </div>
                            <div class="dragArea row">
                                <div data-for="email" class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <input type="email" name="email" placeholder="test@email.com" data-form-field="email" class="form-control display-7" value="" id="email-header02-0">
                                </div>
                                <div class="col-auto mbr-section-btn"><button type="submit" class="w-100 btn btn-primary display-7">Subscribe Now</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="list05 cid-u1kYngO6hX" id="faq-3-u1kYngO6hX">
        <div class="container">
            <div class="col-12 mb-5 content-head">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>PizzaRave FAQs</strong>
                </h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="item features-without-image col-12 active">
                        <div class="item-wrapper">
                            <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                                <strong>Do you offer gluten-free options?</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">
                                Yes, we have a delicious range of gluten-free pizzas to cater to your dietary needs.
                            </p>
                        </div>
                    </div>
                    <div class="item features-without-image col-12">
                        <div class="item-wrapper">
                            <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                                <strong>What sets PizzaRave apart?</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">
                                Our commitment to quality, creativity, and customer satisfaction sets us apart in the pizza industry. We&#x27;re not just a pizza place - we&#x27;re a pizza experience!
                            </p>
                        </div>
                    </div>
                    <div class="item features-without-image col-12">
                        <div class="item-wrapper">
                            <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                                <strong>Can I customize my pizza?</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">
                                Absolutely! You can customize your pizza with a wide range of toppings, sauces, and crust options to create your perfect pie.
                            </p>
                        </div>
                    </div>
                    <div class="item features-without-image col-12">
                        <div class="item-wrapper">
                            <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                                <strong>Do you offer vegan options?</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">
                                Yes, we have a delectable selection of vegan pizzas that are sure to delight your taste buds.
                            </p>
                        </div>
                    </div>
                    <div class="item features-without-image col-12">
                        <div class="item-wrapper">
                            <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                                <strong>Is delivery available?</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">
                                Yes, we offer convenient delivery options to bring the pizza party right to your doorstep.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="people02 cid-u1kYngOTZF" id="testimonials-2-u1kYngOTZF">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-12 content-head">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                        <strong>Raving Fans</strong>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
                    <div class="item-wrapper">
                        <div class="card-box align-center">
                            <div class="iconfont-wrapper mb-3">
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                            </div>
                            <h5 class="card-title mbr-fonts-style mb-3 display-7">The best pizza I&#x27;ve ever had! Each bite was a burst of flavor and pure delight.</h5>
                            <p class="card-text mbr-fonts-style mb-0 display-7">Samantha H.</p>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
                    <div class="item-wrapper">
                        <div class="card-box align-center">
                            <div class="iconfont-wrapper mb-3">
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                            </div>
                            <h5 class="card-title mbr-fonts-style mb-3 display-7">PizzaRave never disappoints. Their pizzas are a symphony of taste and texture.</h5>
                            <p class="card-text mbr-fonts-style mb-0 display-7">Michael T.</p>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
                    <div class="item-wrapper">
                        <div class="card-box align-center">
                            <div class="iconfont-wrapper mb-3">
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                            </div>
                            <h5 class="card-title mbr-fonts-style mb-3 display-7">I&#x27;m a pizza connoisseur, and PizzaRave has earned my highest praise. Exceptional quality and taste!</h5>
                            <p class="card-text mbr-fonts-style mb-0 display-7">Olivia M.</p>
                        </div>
                    </div>
                </div><div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
                    <div class="item-wrapper">
                        <div class="card-box align-center">
                            <div class="iconfont-wrapper mb-3">
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                            </div>
                            <h5 class="card-title mbr-fonts-style mb-3 display-7">PizzaRave is my go-to for pizza perfection. Every slice is a slice of heaven!</h5>
                            <p class="card-text mbr-fonts-style mb-0 display-7">Daniel S.</p>
                        </div>
                    </div>
                </div><div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
                    <div class="item-wrapper">
                        <div class="card-box align-center">
                            <div class="iconfont-wrapper mb-3">
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                            </div>
                            <h5 class="card-title mbr-fonts-style mb-3 display-7">I&#x27;ve never tasted pizza like this before. PizzaRave has redefined the pizza experience for me.</h5>
                            <p class="card-text mbr-fonts-style mb-0 display-7">Emily L.</p>
                        </div>
                    </div>
                </div><div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
                    <div class="item-wrapper">
                        <div class="card-box align-center">
                            <div class="iconfont-wrapper mb-3">
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                                <span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
                            </div>
                            <h5 class="card-title mbr-fonts-style mb-3 display-7">PizzaRave is the epitome of pizza excellence. A must-try for all pizza enthusiasts!</h5>
                            <p class="card-text mbr-fonts-style mb-0 display-7">Nathan P.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-0 mt-md-5">
            </div>
        </div>
    </section>

    

    <section class="image08 cid-u1kYngO3BK" id="image-12-u1kYngO3BK">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="col-12 col-md-12">
                        <h5 class="mbr-section-title mbr-fonts-style mt-0 mb-4 display-2">
                            <strong>Pizza Gallery</strong>
                        </h5>
                        <h6 class="mbr-section-subtitle mbr-fonts-style mt-0 mb-4 display-7">
                            Feast your eyes on our mouthwatering pizza creations that are as stunning as they are delicious.
                        </h6>
                    </div>
                </div>
                <div class="col-lg-8 side-features">
                    <div class="image-wrapper mb-4">
                        <img class="w-100" src="/images/pizza-gallery-5.jpeg">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features10 cid-u1kYngOSfE" id="metrics-2-u1kYngOSfE">
        <div class="container">
            <div class="row justify-content-center">
                <div class="item features-without-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="card-box align-left">
                            <h5 class="card-title mbr-fonts-style display-1">
                                <strong>100+</strong>
                            </h5>
                            <p class="card-text mbr-fonts-style mb-3 display-7">
                                Pizza Varieties
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="card-box align-left">
                            <h5 class="card-title mbr-fonts-style display-1">
                                <strong>5-Star</strong>
                            </h5>
                            <p class="card-text mbr-fonts-style mb-3 display-7">
                                Customer Rating
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="card-box align-left">
                            <h5 class="card-title mbr-fonts-style display-1">
                                <strong>24/7</strong>
                            </h5>
                            <p class="card-text mbr-fonts-style mb-3 display-7">
                                Pizza Delivery
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features037 cid-u1kYngOVTj" id="features-68-u1kYngOVTj">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="col-12 col-md-12">
                        <h5 class="mbr-section-title mbr-fonts-style mt-0 mb-4 display-2">
                            <strong>PizzaRave Specialties</strong>
                        </h5>
                        <h6 class="mbr-section-subtitle mbr-fonts-style mt-0 mb-4 display-7">
                            Discover Our Signature Pizza Creations
                        </h6>
                    </div>
                </div>
                <div class="col-lg-8 side-features">
                    <div class="item features-without-image col-12 col-md-12 col-lg-6 item-mb active">
                        <div class="item-wrapper">
                            <div class="item-content align-left">
                                <h5 class="card-title mbr-fonts-style display-5">
                                    <strong>Veggie Delight</strong>
                                </h5>
                                <p class="card-text mbr-fonts-style display-7">
                                    A garden-fresh medley of veggies on a bed of cheesy goodness, guaranteed to satisfy your veggie cravings.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item features-without-image col-12 col-md-12 col-lg-6 item-mb">
                        <div class="item-wrapper">
                            <div class="item-content align-left">
                                <h5 class="card-title mbr-fonts-style display-5">
                                    <strong>Meat Feast</strong>
                                </h5>
                                <p class="card-text mbr-fonts-style display-7">
                                    A carnivore&#x27;s dream - a meaty extravaganza of premium meats and savory flavors that will leave you craving for more.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item features-without-image col-12 col-md-12 col-lg-6 item-mb">
                        <div class="item-wrapper">
                            <div class="item-content align-left">
                                <h5 class="card-title mbr-fonts-style display-5">
                                    <strong>Custom Pizzas</strong>
                                </h5>
                                <p class="card-text mbr-fonts-style display-7">
                                    Unleash your creativity and build your own pizza masterpiece with our wide range of customizable options and toppings.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item features-without-image col-12 col-md-12 col-lg-6 item-mb">
                        <div class="item-wrapper">
                            <div class="item-content align-left">
                                <h5 class="card-title mbr-fonts-style display-5">
                                    <strong>Pizza Party</strong>
                                </h5>
                                <p class="card-text mbr-fonts-style display-7">
                                    Host the ultimate pizza party with our catering service, bringing the pizza joy to your special events and gatherings.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing1 cid-u1kYngPOgu" id="pricing-cards-1-u1kYngPOgu">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head mb-5">
                        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Best Sellers</strong>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
                    <div class="item-wrapper">
                        <div class="item-head">
                            <h5 class="item-title mbr-fonts-style mb-0 display-5">
                                <strong>Veggie Lover</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
                                <strong>$12</strong>/per pizza
                            </h6>
                        </div>
                        <div class="item-content">
                            <p class="mbr-text mbr-fonts-style display-7">Indulge in a veggie paradise with our signature veggie pizzas that are bursting with freshness and flavor.</p>
                        </div>
                        <div class="mbr-section-btn item-footer"><a href="" class="btn item-btn btn-primary display-7">Order Now</a></div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
                    <div class="item-wrapper">
                        <div class="item-head">
                            <h5 class="item-title mbr-fonts-style mb-0 display-5">
                                <strong>Meat Mania</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
                                <strong>$15</strong>/per pizza
                            </h6>
                        </div>
                        <div class="item-content">
                            <p class="mbr-text mbr-fonts-style display-7">Satisfy your meat cravings with our meaty masterpieces that are a carnivore&#x27;s delight.</p>
                        </div>
                        <div class="mbr-section-btn item-footer"><a href="" class="btn item-btn btn-primary display-7">Order Now</a></div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
                    <div class="item-wrapper">
                        <div class="item-head">
                            <h5 class="item-title mbr-fonts-style mb-0 display-5">
                                <strong>Custom Creation</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
                                <strong>$10</strong>/per pizza
                            </h6>
                        </div>
                        <div class="item-content">
                            <p class="mbr-text mbr-fonts-style display-7">Create your own pizza masterpiece with our customizable options and unleash your inner pizza artist.</p>
                        </div>
                        <div class="mbr-section-btn item-footer"><a href="" class="btn item-btn btn-primary display-7">Order Now</a></div>
                    </div>
                </div>
                <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
                    <div class="item-wrapper">
                        <div class="item-head">
                            <h5 class="item-title mbr-fonts-style mb-0 display-5">
                                <strong>Party Pack</strong>
                            </h5>
                            <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
                                <strong>$50</strong>/per pizza
                            </h6>
                        </div>
                        <div class="item-content">
                            <p class="mbr-text mbr-fonts-style display-7">Host the ultimate pizza party with our catering service, bringing the pizza joy to your special events and gatherings.</p>
                        </div>
                        <div class="mbr-section-btn item-footer"><a href="" class="btn item-btn btn-primary display-7">Order Now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery1 mbr-gallery cid-u1kYngP2Ry" id="gallery-10-u1kYngP2Ry">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mb-5">
                        <h3 class="mbr-section-title mbr-fonts-style align-center m-0 display-2"><strong>Pizza Paradise Gallery</strong></h3>
                    </div>
                </div>
            </div>
            <div class="row mbr-gallery">
                <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                    <div class="item-wrapper mb-3">
                        <img class="w-100" src="/images/pizza-gallery-1.jpeg">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                    <div class="item-wrapper mb-3">
                        <img class="w-100" src="/images/pizza-gallery-2.jpeg">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                    <div class="item-wrapper mb-3">
                        <img class="w-100" src="/images/pizza-gallery-3.jpeg">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                    <div class="item-wrapper mb-3">
                        <img class="w-100" src="/images/pizza-gallery-4.jpeg">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                    <div class="item-wrapper mb-3">
                        <img class="w-100" src="/images/pizza-gallery-5.jpeg">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                    <div class="item-wrapper mb-3">
                        <img class="w-100" src="/images/pizza-gallery-6.jpeg">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                    <div class="item-wrapper mb-3">
                        <img class="w-100" src="/images/pizza-gallery-7.jpeg">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 item gallery-image">
                    <div class="item-wrapper mb-3">
                        <img class="w-100" src="/images/pizza-gallery-8.jpeg">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="social4 cid-u1kYngPlHg" id="follow-us-1-u1kYngPlHg">
        <div class="container">
            <div class="media-container-row">
                <div class="col-12">
                    <h3 class="mbr-section-title align-center mb-5 mbr-fonts-style display-2">
                        <strong>Follow Us for More</strong>
                    </h3>
                    <div class="social-list align-center">
                        <a class="iconfont-wrapper bg-facebook m-2 " target="_blank" href="#">
                            <span class="socicon-facebook socicon"></span>
                        </a>
                        <a class="iconfont-wrapper bg-twitter m-2" href="#" target="_blank">
                            <span class="socicon-twitter socicon"></span>
                        </a>
                        <a class="iconfont-wrapper bg-instagram m-2" href="#" target="_blank">
                            <span class="socicon-instagram socicon"></span>
                        </a>
                        <a class="iconfont-wrapper bg-tiktok m-2" href="#" target="_blank">
                            <span class="socicon-tiktok socicon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <section class="form5 cid-u1kYngPrxX" id="contact-form-2-u1kYngPrxX">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head mb-5">
                        <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Get in Touch Now</strong>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                    <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                        <input type="hidden" name="email" data-form-email="true" value="">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                Oops...! some problem!
                            </div>
                        </div>
                        <div class="dragArea row">
                            <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                                <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="" id="name-form02-0">
                            </div>
                            <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                                <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="" id="email-form02-0">
                            </div>
                            <div class="col-12 form-group mb-3" data-for="textarea">
                                <textarea name="textarea" placeholder="Message" data-form-field="textarea" class="form-control" id="textarea-form02-0"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"><button type="submit" class="btn btn-primary display-7">Send</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="contacts02 map1 cid-u1kYngPK8N" id="contacts-2-u1kYngPK8N">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head mb-5">
                        <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Contact Us</strong>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="card col-12 col-md-12 col-lg-6">
                    <div class="card-wrapper">
                        <div class="text-wrapper">
                            <ul class="list mbr-fonts-style display-7">
                                <li class="mbr-text item-wrap">Phone: <a href="tel:+1234567890" class="text-black">+1234567890</a></li>
                                <li class="mbr-text item-wrap">WhatsApp: <a href="tel:+1234567890" class="text-black">+1234567890</a></li>
                                <li class="mbr-text item-wrap">Email: <a href="mailto:info@pizzarave.com" class="text-black">info@pizzarave.com</a></li>
                                <li class="mbr-text item-wrap">Address: Mumbai India</li>
                                <li class="mbr-text item-wrap">Working Hours: Mon - Sun: 11am - 11pm</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="map-wrapper col-md-12 col-lg-6">
                    <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key&#x3D;AIzaSyCt1265A4qvZy9HKUeA8J15AOC4SrCyZe4&amp;q&#x3D;Mumbai%20India" allowfullscreen=""></iframe></div>
                </div>
            </div>
        </div>
    </section>

    

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/formid.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/navbar-dropdown.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/smooth-scroll.js"></script>

    <script>

        (function(){
          var animationInput = document.createElement('input');
          animationInput.setAttribute('name', 'animation');
          animationInput.setAttribute('type', 'hidden');
          document.body.append(animationInput);
        })();

    </script>
</body>
</html>
